html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote, th, td, p, img { margin: 0; padding: 0; }

body, input, textarea { font-size: 12px; }

fieldset, img { border: none; }

img { display: block; border: none; }

ul, ol, dl, dt, dd { list-style: none; }

a { text-decoration: none; display: block; outline: none; }

input, button, select, textarea { outline: none; }

input { vertical-align: middle; }

strong, b { font-weight: bold; }

.top { width: 100%; height: 30px; background-color: #f7f9f8; margin-top: 0; overflow: hidden; }
.top .listone { width: 125px; height: 185px; }
.top .box { width: 1190px; height: 18px; margin-top: 8px; margin-left: 30px; }
.top .box .biaoyu { font-size: 12px; color: #444444; width: 100px; height: 12px; margin-top: 10px; margin-left: 31px; }
.top .box .dz { margin-left: 750px; margin-top: -12px; width: 80px; height: 12px; font-size: 12px; color: #444444; }
.top .box .dz a { color: #444444; float: left; padding: 0 3px; }
.top .box .dz a:hover { color: #008842; }
.top .box ul { width: 390px; height: 18px; margin-top: -16px; margin-left: 820px; }
.top .box ul li { font-size: 12px; color: #444444; float: left; padding: 0 20px; border-right: 1px solid #e0e0e0; }
.top .box ul li a { color: #444444; }
.top .box ul li a:hover { color: #008842; }

.search-box { overflow: hidden; width: 100%; height: 80px; background-color: #E0E0E0; }
.search-box .logo { width: 145px; height: 50px; background-color: yellow; margin-top: 16px; margin-left: 32px; background: url(../images/logo.png) no-repeat center center; }
.search-box .logo a { text-align: center; line-height: 50px; opacity: 0; }
.search-box .search { position: relative; width: 530px; height: 50px; float: left; margin-top: -50px; margin-left: 320px; }
.search-box .search .search-input { float: left; width: 425px; height: 26px; line-height: 26px; padding: 0 10px; border: 1px solid #008842; background: #E0E0E0; }
.search-box .search .search-btn { float: left; display: block; width: 81px; height: 28px; line-height: 28px; padding: 0; border: none; cursor: pointer; color: #fff; font-size: 14px; background: #008842; }
.search-box .search #keywords { height: 30px; }
.search-box .search .search-keywords { line-height: 30px; }
.search-box .search a { margin-right: 5px; display: inline-block; color: #008842; }
.search-box .search a:hover { font-weight: bolder; }
.search-box .shopping-cart { border: 1px solid #008842; position: relative; width: 170px; height: 40px; margin-top: -45px; margin-left: 1060px; }
.search-box .shopping-cart span { margin-top: 11px; margin-left: 35px; position: absolute; width: 28px; height: 19px; background: url(../images/hearder.png) no-repeat -112px 0; }
.search-box .shopping-cart p { margin-top: 11px; margin-left: 80px; }
.search-box .shopping-cart p a { color: #444444; }
.search-box .shopping-cart p a:hover { color: #008842; font-weight: bolder; }

.nav { width: 100%; height: 38px; background-color: #f7f9f8; }
.nav .list { width: 180px; height: 38px; background-color: #008842; margin-left: 32px; }
.nav .list:hover .son { display: block; }
.nav .list .one { font-size: 7px; color: white; line-height: 38px; text-align: center; }
.nav .list .son { display: none; width: 180px; height: 460px; background: rgba(255, 255, 255, 0.9); border: 1px solid #bbbbbb; }
.nav .list .son li { padding: 20px 0; width: 180px; position: relative; }
.nav .list .son li:hover p { display: block; }
.nav .list .son li:hover .sub-item { display: block; }
.nav .list .son li:hover { background: rgba(255, 255, 255, 0.7); }
.nav .list .son li:hover a { padding: 0px 10px; }
.nav .list .son li a { width: 180px; height: 25px; color: black; }
.nav .list .son li a b { float: left; display: block; font-weight: normal; width: 55px; height: 25px; line-height: 25px; text-align: center; margin-left: 53px; }
.nav .list .son li a b:hover { color: #008842; }
.nav .list .son li a span { position: absolute; display: block; width: 25px; height: 25px; margin-left: 18px; background: url(../images/nav-icon.png) no-repeat; }
.nav .list .son .li1 span { background-position: -22px 0; }
.nav .list .son .li2 span { background-position: -46px 0; }
.nav .list .son .li3 span { background-position: -70px 0; }
.nav .list .son .li4 span { background-position: -95px 0; }
.nav .list .son .li5 span { background-position: -119px 0; }
.nav .list .son .li6 span { background-position: -142px 0; }
.nav .list .son .li7 span { background-position: -168px 0; }
.nav .list .son p { display: none; float: right; position: absolute; margin-left: 145px; margin-top: -20px; }
.nav .list .son .sub-item { display: none; }
.nav .list .son .li1 .sub-item { position: absolute; width: 260px; height: 465px; border: 1px solid #bbbbbb; margin-left: 180px; margin-top: -85px; padding: 17px 20px; background: rgba(255, 255, 255, 0.9); }
.nav .list .son .li2 .sub-item { position: absolute; width: 260px; height: 465px; border: 1px solid #bbbbbb; margin-left: 180px; margin-top: -149px; padding: 17px 20px; background: rgba(255, 255, 255, 0.9); }
.nav .list .son .li3 .sub-item { position: absolute; width: 260px; height: 465px; border: 1px solid #bbbbbb; margin-left: 180px; margin-top: -215px; padding: 17px 20px; background: rgba(255, 255, 255, 0.9); }
.nav .list .son .li4 .sub-item { position: absolute; width: 260px; height: 465px; border: 1px solid #bbbbbb; margin-left: 180px; margin-top: -280px; padding: 17px 20px; background: rgba(255, 255, 255, 0.9); }
.nav .list .son .li5 .sub-item { position: absolute; width: 260px; height: 465px; border: 1px solid #bbbbbb; margin-left: 180px; margin-top: -345px; padding: 17px 20px; background: rgba(255, 255, 255, 0.9); }
.nav .list .son .li6 .sub-item { position: absolute; width: 260px; height: 465px; border: 1px solid #bbbbbb; margin-left: 180px; margin-top: -410px; padding: 17px 20px; background: rgba(255, 255, 255, 0.9); }
.nav .list .son .li7 .sub-item { position: absolute; width: 260px; height: 465px; border: 1px solid #bbbbbb; margin-left: 180px; margin-top: -475px; padding: 17px 20px; background: rgba(255, 255, 255, 0.9); }
.nav .list .son h4 { text-decoration: underline; font-weight: normal; font-size: 18px; }
.nav .list .son h4 a { color: #20985a; }
.nav .list .son .sub-list { width: 260px; height: 230px; display: block; }
.nav .list .son .sub-list a { display: inline-block; width: 70px; padding: 15px 0; color: #686868; }
.nav .list .son .sub-list a:hover { color: #008842; font-weight: bolder; }
.nav .list .son .catalogs-ad { position: absolute; bottom: 10px; }
.nav .list .son .catalogs-ad a { color: #444444; text-decoration: none; outline: none; }
.nav .list .son .catalogs-ad a img { position: absolute; margin-top: -190px; }
.nav .heng { float: left; width: 435px; height: 38px; margin-left: 213px; margin-top: -38px; }
.nav .heng li { float: left; line-height: 38px; text-align: center; padding: 0 26px; }
.nav .heng li a { color: black; font-size: 14px; font-weight: bolder; }
.nav .heng li a:hover { color: #008842; }
