html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote, th, td, p, img{margin: 0;padding: 0;}
body, input, textarea{font-size: 12px;}
fieldset, img {border:none;}
img{display: block;border: none;}
ul, ol, dl, dt, dd {list-style:none; }
a{text-decoration: none;display: block;outline: none;}
input, button, select, textarea{outline: none;}
input{vertical-align: middle;}
strong, b{font-weight: bold;}

//顶部
.top{
    display: block;
    width: 100%;
    height: 30px;
    background-color: #f7f9f8;
    margin-top: 0;
    overflow: hidden;
    .box{
        float: left;
        display: block;
        width: 1190px;
        height: 18px;
        margin-top: 8px;
        margin-left: 30px;
        .biaoyu{
            float: left;
            display: inline-block;
            font-size: 12px;
            color: #444444;
            height: 18px;
            line-height: 18px;
            text-align: center;
        }
        .dz{
            display: inline-block;
            margin-left: 600px;
            height: 18px;
            line-height: 18px;
            text-align: center;
            font-size: 12px;
            color: #444444;
            a{
                color: #444444;
                float: left;
                padding: 0 5px;
                &:hover{
                    color: #008842;
                }
            }
        }
        ul{
            display: inline-block;
            height: 18px;
            width: 370px;
            line-height: 18px;
            text-align: center;
            li{
                height: 30px;
                float: left;
                font-size: 12px;
                color: #444444;
                border-right: 1px solid #e0e0e0;
                padding: 0 20px;
                &:hover{
                    background: #FFFFFF;
                }
                &:hover .con{
                    display: block;
                }
                a{
                    display: block;
                    color: #444444;
                    &:hover{
                        font-weight: bolder;
                        color: #008842;
                    }
                }  
            }
            .myyiguo .con{
                display: none;
                position: absolute;
                top: 30px;
                left: 850px;
                border: 1px solid #B4C1A3;
                background: #FFFFFF;
                width: 100px;
                padding: 5px 12px;
                text-align: left;
                a{
                    display: block;
                    line-height: 25px;
                    color: #727272;
                    &:hover{
                        color: #008842;
                    }
                }
            }
            .mobile{
                &:hover .con{
                    opacity: 1;
                }
                .con{
                    opacity: 0;
                    width: 125px;
                    padding: 10px;
                    line-height: 25px;
                    display: block;
                    position: absolute;
                    top: 30px;
                    left: 900px;
                    border: 1px solid #B4C1A3;
                    background: #FFFFFF;
                }
                .item{
                    margin: 5px 0;
                }
            } 
        }  
    }
}

//搜索
.search-box{
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: 80px;
    background-color: #E0E0E0;
    .logo{
        width: 145px;
        height: 50px;
        background-color: yellow;
        margin-top: 16px;
        margin-left: 32px;
        background: url(../images/logo.png) no-repeat center center;
        a{
            text-align: center;
            line-height: 50px;
            opacity: 0;
        }
    }
    .search{
        position: relative;
        width: 530px;
        height: 50px;
        float: left;
        margin-top: -50px;
        margin-left: 320px;
        .search-input{
            float: left;
            width: 425px;
            height: 26px;
            line-height: 26px;
            padding: 0 10px;
            border: 1px solid #008842;
            background: #E0E0E0;
        }
        .search-btn{
            float: left;
            display: block;
            width: 81px;
            height: 28px;
            line-height: 28px;
            padding: 0;
            border: none;
            cursor: pointer;
            color: #fff;
            font-size: 14px;
            background: #008842;
        }
        #keywords{
            height: 30px;
        }
        .search-keywords{
            line-height: 30px;
        }
        a{
            margin-right: 5px;
            display: inline-block;
            color: #008842;
            &:hover{
                font-weight: bolder;
            }
        }
    }
    .shopping-cart{
        border:1px solid #008842 ;
        position: relative;
        width: 170px;
        height: 40px;
        margin-top: -45px;
        margin-left: 1060px;
        span{
            margin-top: 11px;
            margin-left: 35px;
            position: absolute;
            width: 28px;
            height: 19px;
            background: url(../images/hearder.png) no-repeat -112px 0;
        }
        p{
            margin-top: 11px;
            margin-left: 80px;
            a{
                color: #444444;
                &:hover{
                    color: #008842;
                    font-weight: bolder;
                }
            }
        }   
    }
}

//导航
.nav{
    margin: 0 auto;
    width: 100%;
    height: 38px;
    background-color: #f7f9f8;
    .list{
        width: 180px;
        height: 38px;
        background-color: #008842;
        margin-left: 32px;
        &:hover .son{
            display: block;
        }
        .one{
            font-size: 7px;
            color: white;
            line-height: 38px;
            text-align: center;
        }
        .son{
            display: none;
            width: 180px;
            height: 460px;
            background: rgba(255, 255, 255, 0.9);
            border: 1px solid #bbbbbb;
            position: absolute;
            z-index: 999;
            li{
                padding: 20px 0;
                width: 180px;
                position: relative;
                &:hover p{
                    display: block;
                }
                &:hover .sub-item{
                    display: block;
                }
                &:hover{
                    background: rgba(255, 255, 255, 0.7);
                }
                &:hover a{
                    padding: 0px 10px;
                }
                a{
                    width: 180px;
                    height: 25px;
                    color: black;
                    b{
                        float: left;
                        display: block;
                        font-weight: normal;
                        width: 55px;
                        height: 25px;
                        line-height: 25px;
                        text-align: center;
                        margin-left: 53px;
                        &:hover{
                            color: #008842;
                        }
                    }
                    span{
                        position: absolute;
                        display: block;
                        width: 25px;
                        height: 25px;
                        margin-left: 18px;
                        background: url(../images/nav-icon.png) no-repeat;
                    }
                }
            }
        .li1 span{
            background-position: -22px 0;
        }
        .li2 span{
            background-position: -46px 0;
        }
        .li3 span{
            background-position: -70px 0;
        }
        .li4 span{
            background-position: -95px 0;
        }
        .li5 span{
            background-position: -119px 0;
        }
        .li6 span{
            background-position: -142px 0;
        }
        .li7 span{
            background-position: -168px 0;
        }
        p{
            display: none;
            float: right;
            position: absolute;
            margin-left: 145px;
            margin-top: -20px;
        }
        .sub-item{
            display: none;
        }
        .li1 .sub-item{
            position: absolute;
            width: 260px;
            height: 465px;
            border: 1px solid #bbbbbb;
            margin-left: 180px;
            margin-top: -85px;
            padding: 17px 20px;
            background: rgba(255,255,255,0.9);
        }
        .li2 .sub-item{
            position: absolute;
            width: 260px;
            height: 465px;
            border: 1px solid #bbbbbb;
            margin-left: 180px;
            margin-top: -149px;
            padding: 17px 20px;
            background: rgba(255,255,255,0.9);
        }
        .li3 .sub-item{
            position: absolute;
            width: 260px;
            height: 465px;
            border: 1px solid #bbbbbb;
            margin-left: 180px;
            margin-top: -215px;
            padding: 17px 20px;
            background: rgba(255,255,255,0.9);
        }
        .li4 .sub-item{
            position: absolute;
            width: 260px;
            height: 465px;
            border: 1px solid #bbbbbb;
            margin-left: 180px;
            margin-top: -280px;
            padding: 17px 20px;
            background: rgba(255,255,255,0.9);
        }
        .li5 .sub-item{
            position: absolute;
            width: 260px;
            height: 465px;
            border: 1px solid #bbbbbb;
            margin-left: 180px;
            margin-top: -345px;
            padding: 17px 20px;
            background: rgba(255,255,255,0.9);
        }
        .li6 .sub-item{
            position: absolute;
            width: 260px;
            height: 465px;
            border: 1px solid #bbbbbb;
            margin-left: 180px;
            margin-top: -410px;
            padding: 17px 20px;
            background: rgba(255,255,255,0.9);
        }
        .li7 .sub-item{
            position: absolute;
            width: 260px;
            height: 465px;
            border: 1px solid #bbbbbb;
            margin-left: 180px;
            margin-top: -475px;
            padding: 17px 20px;
            background: rgba(255,255,255,0.9);
        }
        h4{
            text-decoration: underline;
            font-weight: normal;
            font-size: 18px;
            a{
                color: #20985a;
            }
        }
        .sub-list{
            width: 260px;
            height: 230px;
            display: block;
        }
        .sub-list a{
            display: inline-block;
            width: 70px;
            padding: 15px 0;
            color: #686868;
            &:hover{
                color: #008842;
                font-weight: bolder;
            }
        }
        .catalogs-ad{
            position: absolute;
            bottom: 10px;
            a{
                color: #444444;
                text-decoration: none;
                outline: none;
                img{
                    position: absolute;
                    margin-top: -190px;
                }
            }
        }
        }
    }
    .heng{
        float: left;
        width: 435px;
        height: 38px;
        margin-left: 213px;
        margin-top: -38px;
        li{
            float: left;
            line-height: 38px;
            text-align: center;
            padding: 0 24px;
            a{
                color: black;
                font-size: 14px;
                font-weight: bolder;
                &:hover{
                    color: #008842;
                }
            }
        }
    }
}