html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote, th, td, p, img{margin: 0;padding: 0;}
body, input, textarea{font-size: 12px;}
fieldset, img {border:none;}
img{display: block;border: none;}
ul, ol, dl, dt, dd {list-style:none; }
a{text-decoration: none;display: block;outline: none;}
input, button, select, textarea{outline: none;}
input{vertical-align: middle;}
strong, b{font-weight: bold;}
div, p{display: block;}

.clearfix:after, .wrap:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.page_ad{
    margin: 0 auto;
    width: 100%;
    height: 500px;
    .big{
        width: 1200px;
        height: 300px;
        margin-bottom: 10px;
        margin-left: 32px;
    }
    .mr{
        margin-right: 10px;
    }
    .medium{
        width: 405px;
        height: 180px;
    }
    .small{
        width: 180px;
        height: 180px;
    }
    a{
        margin: 0 auto;
        display: block;
        float: left;
        &:nth-child(2){
            margin-left: 32px;
        }
    }
}

.select{
    width: 1200px;
    line-height: 25px;
    margin: 20px 0;
    margin-left: 32px;
    .all{
        position: relative;
        background: #eaeaea;
        border: 1px solid #c7c7c7;
        border-right-color: #e5e5e5;
        ul{
            background: #f1f1f1;
            float: left;
            position: relative;
            width: 1100px;
            padding: 5px 0;
            li{
                float: left;
                display: inline;
                a{
                    display: inline-block;
                    white-space: nowrap;
                    padding: 0 15px;
                    text-decoration: none;
                    color: #777777;
                    &:hover{
                        color: #008842;
                        text-decoration: underline;
                    }
                }
                &:after{
                    content: "|";
                }
            }
        }
    }
    .tit{
        float: left;
        width: 78px;
        padding: 5px 0 5px 20px;
        color: #909090;
    }
}

.filter{
    width: 1190px;
    margin-left: 32px;
    padding: 5px 0px 5px 10px;
    background: #eaeaea;
    .filter_sort{
        a{
            display: block;
            float: left;
            height: 18px;
            line-height: 18px;
            margin-left: -1px;
            padding: 5px 10px;
            border: 1px solid #c7c7c7;
            background: #FFFFFF;
            color: #444444;
            &:hover{
                color: #008842;
                background: #eeeeee;
            }
            &:hover{
                .down{
                    background-position: -10px 0;
                }
                .sort_down{
                    background-position: -30px 0;
                }
            }
            i{
                width: 10px;
                height: 16px;
                margin-left: 3px;
                background: url(../images/filter_icon.png) no-repeat 0 0;
            }
        }
        .price i{
            background-position: -20px 0;
        }
    }
}

i, s{
    display: inline-block;
    vertical-align: middle;
}

.goods_list{
    width: 100%;
    margin-left: 32px;
    .product{
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
        border: 1px solid black;
        float: left;
        margin-top: 15px;
        margin-right: 13px;
        background: #FFFFFF;
        width: 290px;
        .id{
            display: none;
        }
        .fromImg{
            width: 300px;
            height: 300px;
        }
        .prod_price{
            font-size: 18px;
            font-weight: bold;
            color: #e7380d;
        }
        .prod_title{
            height: 16px;
            margin-bottom: 10px;
            line-height: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        a{
            display: inline-block;
            display: none;
            width: 180px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            color: #FFFFFF;
            background: #008842;
            border-radius: 4px;
            margin-left: 70px;
            position: absolute;
            margin-top: -30px;
        }
        &:hover{
            a{
                display: block;
            }
        }
        .product-info{
            margin-top: -10px;
            a{
                margin-top: -20px;
            }
        }
    }
}