<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/headerstyle.css"/>
		<link rel="stylesheet" href="../css/liststyle.css"/>
		<link rel="stylesheet" href="../css/footerstyle.css"/>
		<script src="../lib/requirejs/require.js" data-main="../js/list"></script>
	</head>
	<body>
		
		<!--引入头部-->
		<div class="header"></div>
		
		<!--广告位-->
		<div class="page_ad clearfix">
			<a class="big" href="#" target="_blank">
				<img src="../images/big.png" width="1200" height="300"/>
			</a>
			<a class="medium mr" href="#" target="_blank">
				<img src="../images/medium mr 1.png" width="405" height="180"/>
			</a>
			<a class="medium mr" href="#" target="_blank">
				<img src="../images/medium mr 2.png" width="405" height="180"/>
			</a>
			<a class="small mr" href="#" target="_blank">
				<img src="../images/small mr 1.png" width="180" height="180"/>
			</a>
			<a class="small mr" href="#" target="_blank">
				<img src="../images/small mr 2.png" width="180" height="180"/>
			</a>
		</div>
		
		<!--筛选-->
		<div class="select">
			<div class="all clearfix">
				<div class="tit">►所有分类</div>
				<ul>
					<li class=" ">
						<a href="#">羊肉</a>
					</li>
					<li class=" ">
						<a href="#">香肠</a>
					</li>
					<li class=" ">
						<a href="#">火腿/培根</a>
					</li>
					<li class=" ">
						<a href="#">肉制品</a>
					</li>
				</ul>
			</div>
		</div>
		
		<!--排序-->
		<div id="formCx" class="filter clearfix">
			<div class="filter_sort">
				<a href="#" class="on">默认排序</a>
				<a href="#">
					销量
					<i class="down"></i>
				</a>
				<a class="price" href="#">
					价格
					<i class="sort_down"></i>
				</a>
				<a href="#">
					评论
					<i class="down"></i>
				</a>
			</div>
		</div>
		
		<!--商品列表-->
		<div class="goods_list"></div>
		
		<!--引入尾部-->
		<div class="footer"></div>
		
		<!--模板引擎-->
		<script type="text/html" id="lists">
			<% 
				for (var i = 0, len = listshuju.length; i < len; i++) {
					var prod = listshuju[i];
			%>
			<div class="product">
				<span class="id"><%= prod.id %></span>
				<span class="fromImg"><img src="<%= prod.imgSrc %>"></span><br />
				<a href="">加入购物车</a><br />
				<span class="prod_title"><%= prod.title %></span><br />
				<span class="prod_price"><%= prod.price %></span><br />
			</div>
			<% } %>
		</script>
	
	</body>
</html>
